@model MultiLanguageProje.Models.ListAboutViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

  
}

@foreach (var item in Model.Abouts)
{
    <h2>@item.Description</h2>
}


